/* Site Wide */

/* Navbar */
body {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.87), gray); */
    background-color:ivory;
    text-align: center;
  }

p {
  text-align: center;
}

#nav-img, #nav-link {
    padding: 0.25rem;
}

h1 {
    font-family: 'Century Gothic';
    text-align: center;
    color:darkgreen;
}

h2 {
  font-family: 'Century Gothic';
  text-align: center;
  color:darkgreen;
}

h4 {
  text-align: center;
  color: green;
  font-family: 'Century Gothic';
}

h3 {
  text-align: center;
  color: green;
  font-family: 'Century Gothic';
}
ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
a:hover {
  background-color: yellowgreen;
  color: #19558d;
}
strong {
  color: darkgreen;
  font-family: 'Century Gothic';
}

.instructions{
    text-align: center;
    list-style-position: inside;
}

.instructions li{
    margin-bottom: 20px;
    font-size: 18px;
}

.bottom_index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.bottom_index div {
  color: #008000;
  font-size: 20px; 
  font-weight: bold; 
  text-decoration: none;
  margin-right:25%;
}

.bottom_index a {
  color: #008000;
  font-size: 20px; 
  font-weight: bold; 
  text-decoration: none;
  margin-right:25%;
}

.bottom_index img {
  height: 150px; 
}


.github-images {
    width: "750";
    height: "auto"

}
.support_head{
  color: white;

}

.support_footer {
    text-align: left;
    padding: 3px;
    background-color: #003a00;
    color: white;
}
.support_footer a {
  color: white;
}